<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Rubber Duck - Blog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
</head>
<body class="rainbow-bg">
<main layout:fragment="content" class="rainbow-bg">
    <div class="blog-container">
        <h1>Blog del Rubber Duck</h1>

        <article class="blog-post" th:each="post : ${posts}">
            <h2 th:text="${post.title}">Título del Post</h2>
            <p class="post-meta" th:text="'Publicado: ' + ${#temporals.format(post.publishDate, 'd de MMMM, yyyy')}">Fecha de publicación</p>
            <div th:utext="${post.preview}">Vista previa del post</div>
            <a th:href="@{'/blog/post/' + ${post.id}}" class="read-more">Leer más</a>
        </article>
    </div>
</main>
</body>
</html>